* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
}

.titulo {
    text-align: center;
}

.sobreviver {
    width: 80%;
    margin: 0 auto;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    flex-direction: column;
}

.voltar {
    margin-top: 20px;
    height: 30px;
    animation: comeco-animation 500ms infinite;
    visibility: hidden;
    display: none;
}

.flexivel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

form {
    position: absolute;
    z-index: 5;
}

.comeco {
    animation: comeco-animation 500ms infinite;
    cursor: pointer;
}

@keyframes comeco-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.game {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 15px solid rgb(0, 96, 0);
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-radius: 10px;
    position: relative;
}

#millisecond {
    display: none;
}

.time {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}

.gameover {
    height: 150px;
    z-index: 5;
    visibility: hidden;
}

.mario {
    width: 96px;
    position: absolute;
    bottom: 0;
}

.clouds {
    position: absolute;
    top: 20px;
    height: 150px;
    animation: clouds-animation 20s linear infinite;
}

.jump {
    animation: jump 600ms ease-out;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 64px;
    animation: none;
    visibility: hidden;
}

@keyframes pipe-animation {
    from {
        right: -64px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    35% {
        bottom: 100px;
    }

    50% {
        bottom: 128px;
    }

    65% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -795px;
    }

    to {
        right: 100%;
    }
}

@media screen and (max-width: 767px) {
    .pipe {
        animation: none;
    }

    .sobreviver {
        width: 80%;
        margin: 0 auto;
    }
}